* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: "DM Sans", serif;
    background-image: url('/Image/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  

  .container {
    width: 80%;
    max-width: 630px;
    background: ;
    margin: 0 30% 0 30%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
  }
  
  .elementos-superiores {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .icono {
    width: 40px; 
    height: 40x; 
    border-radius: 50%; 
    background-color: #5c5653; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; 
}

  .perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
  font-size: 20px;
  color: white;
  margin: 8px 0 10px 0px;
}

.descripcion {
  font-size: 16px;
  font-weight: 550;
  color: white;
  line-height: 150%;
  margin: 8px 0 20px 0px;
}



.redes-sociales img {
    width: 20px; 
    height: 20px; 
    margin: 50px 0; 
}

.card-pequeñas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3e1fb;
    color: #221c2a;
    font-weight: 530;
    padding: 10px;
    border-radius: 50px;
    margin: 15px 0;
    position: relative;
  }
  
  .img-circulo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .img-circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto-card {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .gif {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
  }
  


  .card-grandes {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}


.grande-1, .grande-2 {
    background-size: cover; 
    width: 100%; 
    height: 350px; 
    margin-bottom: 25px;
    border-radius: 25px;
    padding: 15px;
    color: #e2dfe7;
    position: relative;
    font-size: 16px;
    text-align: left; 
    font-weight: 550;
 
}

.grande-1 {
    background-image: url(https://tikatheiggy.com/cdn/shop/files/rm8rzp4-front-shortedge-384_1024x1024@2x.jpg?v=1727981218);
    margin: 18px 0px 50px 0px;
}

.grande-2 {
    background-image: url(https://images.cdn.geni.us/if_w_gt_1000,c_scale,w_1000/if_h_gt_1000,c_scale,h_1000/v1/vdqaj5u3df/Product%20Images/wzcs0hhoibnzqq8jwlgs.jpg);
}

.texto-card-grande {
  display: flex; 
  align-items: center;justify-content: space-between; 
  width: 100%; 
}